{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- bootstrap -->
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap Datetime -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ja.min.js"></script>
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}" />
</head>
<body class="bg-light">
    <!-- header -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            {% comment %} <div class="navigation-style">
                <!-- ブランド名の表示 -->
                <a href="." class="navbar-brand">Task Manager</a>
            </div> {% endcomment %}
            <a href="." class="navbar-brand">Task Manager</a>
            <!-- TODO: 画面が縮小した時に toggle に収まるようにする -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navimenu" aria-controls="navimenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse" id="navimenu">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0a">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href=".">
                            記録
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            目標・課題登録
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="schedule">
                            スケジュール設定
                        </a>
                    </li>
                </ul>
                <div class="d-flex flex-row-reverse">
                    <a href="record">
                        <button class="btn btn-outline-success">
                            記録する
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- main contents -->
    <main class="container">
        <form onsubmit="return false;">
            <div class="mb-3">
                <label for="task-name-form" class="form-label">タスク名</label>
                <input id="task-name-form" class="form-control form-control-sm" type="text" placeholder="タスク名"
                    aria-label=".form-control-sm example">
            </div>
            <div class="mb-3">
                <label for="select-parent-task" class="form-label">目標名</label>
                <select class="form-control" aria-label="select-parent-task">
                    <option selected>選択</option>
                    <option value="1">基本情報</option>
                    <option value="2">応用情報</option>
                    <option value="3">漢検</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="task-details" class="form-label">詳細</label>
                <textarea class="form-control" id="task-details" rows="5"></textarea>
            </div>
            <button type="button" class="btn btn-primary">登録</button>
        </form>
    </main>
</body>
</html>
