.navigation-style {
    /* display: flex; */
    padding-right: 10px 0;
    padding-left: 10px 0;
    margin-right: auto;
    margin-left: auto;
}

body {
    height: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.timeline {
    height: 100%;
    padding: 0 0 0 10pm;
}

