.navigation-style {
    /* display: flex; */
    padding-right: 10px 0;
    padding-left: 10px 0;
    margin-right: auto;
    margin-left: auto;
}

html, .container, .main-window {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.timeline {
    overflow: hidden;
    height: 100%;
    padding: 0 0 0 10pm;
}

.timeline-frame {
    height:100%;
    overflow: hidden;
}

.timeline-contents {
    height: 100%;
    overflow: hidden;
}

.timeline-contents-scroll {
    height: 100%;
    overflow: scroll;
}

.record-block {
    overflow: hidden; /* はみ出した部分を非表示 */
    border-radius: 10px;
}

